.weather{
      border: 1px solid blue;
      font-family: Arial, Helvetica, sans-serif;
    margin: 20px auto;
    padding: 16px;
    
    border-radius: 4px;
    color:#022A59 ;
}
.weather form{
      margin-bottom: 20px;
}
.weather h1{
    color:#022A59 ;  
    font-size: 24px;
    font-weight: 100;
    line-height: 29px;
    margin: 20px 0 0 0;
}
.weather ul{
      margin: 0;
      padding: 0;
}
.weather li{
      font-size: 16px;
      font-weight: 100;
      line-height: 19px;
      list-style: none;
  }
  .weather img{
     height:64px ;
     margin-right: 10px;
     display: inline-block;
     width: 64px;
  }
.weather .temperature{
      font-weight:bold ;
      font-size: 64px;
      font-weight: 400;
      line-height: 64px;
      
}
.weather .unit{
      font-size: 16px;
      font-weight: 400;
      position: relative;
      top: -32px;
      margin-left: 5px;
      line-height: 1;
}